.alerta{

    padding: .5rem;
    text-align:  center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1rem 0 ;

    &.error{
        background-color: rgb(194, 2, 2);
    }
    &.exito{
        background-color: rgb(54, 161, 54);
    }
}

table.propiedades{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead{

        background-color: rgb(54, 161, 54);

        th{
            color: white;
            padding: 2rem;
            text-align: center;
        }

    }

    .imagen-tabla{

        width: 10rem;

    }

}